services:
  drift-gateway:
    image: ghcr.io/drift-labs/gateway:latest
    container_name: drift-gateway
    restart: unless-stopped
    ports:
      - "8080:8080" # REST API
      - "8081:8081" # WebSocket
    environment:
      # Key Configuration
      # We mount the keyfile instead of putting private key in ENV
      DRIFT_GATEWAY_KEY_FILE: /keys/drift-delegate.json
      # Use Mainnet Helius RPC
      DRIFT_GATEWAY_RPC_URL: "https://mainnet.helius-rpc.com/?api-key=8c0f188a-6c40-429b-ac82-32e1c585ffb3"
      DRIFT_GATEWAY_WS_URL: "wss://mainnet.helius-rpc.com/?api-key=8c0f188a-6c40-429b-ac82-32e1c585ffb3"
      # Configuration
      DRIFT_GATEWAY_HOST: "0.0.0.0"
      DRIFT_GATEWAY_PORT: "8080"
      DRIFT_GATEWAY_WS_PORT: "8081"
      DRIFT_ENV: "mainnet-beta"
      # Sub-account ID (default 0)
      DRIFT_SUB_ACCOUNT_ID: 0
    volumes:
      - /Users/ryanmolinich/.solana/keys:/keys:ro
